@font-face {
  font-family: "JP Adjusted";
  src: local("Hiragino Sans"),
       local("Hiragino Kaku Gothic ProN"),
       local("Yu Gothic"),
       local("YuGothic"),
       local("Meiryo"),
       local("Noto Sans CJK JP"),
       local("Noto Sans JP");
  size-adjust: 30%;
  unicode-range: U+3000-30FF, U+3400-4DBF, U+4E00-9FFF, U+F900-FAFF, U+FF00-FFEF;
}

:root {
  --bs-font-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "JP Adjusted", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
